---
layout: default
---

<div class="books">
  <div class="book">
    <h1 class="book-title">{{ page.title }}</h1>

    <div class="book-content">
      <div class="book-cover">
        <img src="/assets/image/books/{{page.cover_image}}" alt="{{page.title}} book cover" style="width: 120px"/>
      </div>
      <div>
        <h3 class="book-author">{{ page.author }}</h3>
        <p class="book-description">{{ page.description | markdownify }}</p>
      </div>
    </div>
    <hr />

    {{ content }}
  </div>
</div>
